version: 2.1

executors:
  docker-executor:
    docker:
      - image: cimg/node:18.20   # Node.js for running tests
  docker-publisher:
    docker:
      - image: cimg/base:stable  # Base image with Docker + Git tools

jobs:
  # ---- Job 1: Run Tests ----
  test:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Run Tests
          command: npm test -- --watchAll=false

  # ---- Job 2: Build & Push Docker Image ----
  build-and-push:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build Docker Image
          command: |
            IMAGE_TAG=${CIRCLE_SHA1:0:7}
            docker build -t udayparkar/todo-app:$IMAGE_TAG .
      - run:
          name: Push Docker Image
          command: |
            IMAGE_TAG=${CIRCLE_SHA1:0:7}
            echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin
            docker push udayparkar/todo-app:$IMAGE_TAG

  # ---- Job 3: Update Manifests for ArgoCD ----
  update-manifests:
    executor: docker-publisher
    steps:
      - checkout
      - run:
          name: Update Kubernetes Manifests with new Image Tag
          command: |
            IMAGE_TAG=${CIRCLE_SHA1:0:7}
            sed -i "s|udayparkar/todo-app:.*|udayparkar/todo-app:$IMAGE_TAG|g" k8s/deployment.yaml
            git config --global user.email "circleci@ci.com"
            git config --global user.name "circleci"
            git add k8s/deployment.yaml
            git commit -m "Update image to $IMAGE_TAG [skip ci]" || echo "No changes to commit"
            git push https://$GITHUB_TOKEN@github.com/UdayParkar/to-do-app.git HEAD:main

workflows:
  version: 2
  ci-cd:
    jobs:
      - test
      - build-and-push:
          requires:
            - test
      - update-manifests:
          requires:
            - build-and-push
